<template>
<div class="page">
    <div class="nav">
        <span>Double Calculator (เครื่องคิดเลข)</span>
    </div>
    <div class="board">
        <div class="calcard">
            <div class="card">
                <div class="title">
                    Calculator A
                </div>
                <div class="calculator">
                    <div class="element">
                        <div class="result">{{ resultA || '0'}}</div>
                        <div class="solve">{{ currentA || '0' }}</div>
                        <div class="btn" @click="clear('A')">C</div>
                        <div class="btn" @click="divide('A')">÷</div>
                        <div class="btn" @click="times('A')">x</div>
                        <div class="btn" @click="minus('A')">-</div>
                        <div class="btn" @click="append('A', '7')">7</div>
                        <div class="btn" @click="append('A', '8')">8</div>
                        <div class="btn" @click="append('A', '9')">9</div>
                        <div class="btn plus" @click="add('A')">+</div>
                        <div class="btn" @click="append('A', '4')">4</div>
                        <div class="btn" @click="append('A', '5')">5</div>
                        <div class="btn" @click="append('A', '6')">6</div>
                        <div class="btn" @click="append('A', '1')">1</div>
                        <div class="btn" @click="append('A', '2')">2</div>
                        <div class="btn" @click="append('A', '3')">3</div>
                        <div class="btn equal" @click="equal('A')">=</div>
                        <div class="btn zero" @click="append('A', '0')">0</div>
                        <div class="btn" @click="dot('A')">.</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    Calculator B
                </div>
                <div class="calculator">            
                    <div class="element">
                        <div class="result">{{ resultB || '0' }}</div>
                        <div class="solve">{{ currentB || '0' }}</div>    
                        <div class="btn" @click="clear('B')">C</div>
                        <div class="btn" @click="divide('B')">÷</div>
                        <div class="btn" @click="times('B')">x</div>
                        <div class="btn" @click="minus('B')">-</div>
                        <div class="btn" @click="append('B', '7')">7</div>
                        <div class="btn" @click="append('B', '8')">8</div>
                        <div class="btn" @click="append('B', '9')">9</div>
                        <div class="btn plus" @click="add('B')">+</div>
                        <div class="btn" @click="append('B', '4')">4</div>
                        <div class="btn" @click="append('B', '5')">5</div>
                        <div class="btn" @click="append('B', '6')">6</div>
                        <div class="btn" @click="append('B', '1')">1</div>
                        <div class="btn" @click="append('B', '2')">2</div>
                        <div class="btn" @click="append('B', '3')">3</div>
                        <div class="btn equal" @click="equal('B')">=</div>
                        <div class="btn zero" @click="append('B', '0')">0</div>
                        <div class="btn" @click="dot('B')">.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <div>
                    Results
                </div>
                <div>
                    <input v-model="search" type="text" placeholder="Search by result, date">
                </div>
                <div>
                    <select v-model="calculator">
                        <option value="">All</option>
                        <option value="A">Calculator A</option>
                        <option value="B">Calculator B</option>
                    </select>
                </div>
            </div>
            <div class="calculator">
                <div style="height: 650px; display: flex; flex-direction: column; justify-content: space-between;">
                    <div class="display">
                        <div v-for="(history, i) in filteredList" :key="i">
                            <div class="history">
                                <div class="date">
                                    <div>
                                        <span>Calculator {{ history.Calculator }}</span>
                                    </div>
                                    <div>
                                        <label>{{ history.dateTime || '' }}</label>
                                    </div>
                                </div>
                                <div class="result">
                                    {{ history.result }}
                                </div>
                                <div class="solve">
                                    {{ history.solve }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: flex-end;">
                        <div class="cls" @click="clear('cls')">Clear</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios';
export default {

    data() {
        return {
            currentA: '',
            solveA: '',
            resultA: '',
            currentB: '',
            solveB: '',
            resultB: '',
            operatorClickedA: false,
            operatorClickedB: false,
            equalClickedA: false,
            equalClickedB: false,
            dotClickedA: false,
            dotClickedB: false,
            histories: [],
            search: '',
            calculator: '',
        }
    },
    computed: {
        filteredList: function() {
            if (JSON.parse(localStorage.getItem('historyList'))) {
                this.histories = JSON.parse(localStorage.getItem('historyList'));
            }
            return this.histories.filter((history) => {
                return (history.result.toString().match(this.search) || 
                history.dateTime.toString().match(this.search)) && 
                history.Calculator.toString().match(this.calculator);
            })
        },
    },
    methods: {
        clear(cal) {
            if (cal === 'A') {
            this.currentA = '';
            this.resultA = '';
            this.solveA = '';
            operatorClickedA: false;
            equalClickedA: false;
            }
            if (cal === 'B') {
            this.currentB = '';
            this.resultB = '';
            this.solveB = '';            
            operatorClickedB: false;
            equalClickedB: false;
            }
            if (cal === 'cls') {
                if (this.histories.length) {
                    if (confirm("Do you want to clear result history?")) {
                        this.histories = [];
                        localStorage.clear();
                    }
                }
            }
        },
        append(cal, number) {
            if (cal === 'A') {
                if(this.equalClickedA === true){
                    this.currentA = '';
                    this.solveA = '';
                    this.equalClickedA = false;
                }
                this.operatorClickedA = false;
                this.currentA = this.currentA + number;
                this.solveA = this.solveA + number;
            }
            if (cal === 'B') {
                if(this.equalClickedB === true){
                    this.currentB = '';
                    this.solveB = '';
                    this.equalClickedB = false;
                }
                this.operatorClickedB = false;
                this.currentB = this.currentB + number;
                this.solveB = this.solveB + number;
            }
        },
        operate(cal, operator) {
            if (cal === 'A') {
                if(this.equalClickedA === true){
                    this.currentA = '';
                    this.solveA = '';
                    this.equalClickedA = false;
                }
                this.currentA = `${this.currentA}${operator}`;
                if (operator === ' + ') {
                    this.solveA = this.solveA + '%2B';
                }
                if (operator === ' X ') {
                    this.solveA = this.solveA + ' * ';
                }
                if (operator === ' ÷ ') {
                    this.solveA = this.solveA + '%2F';
                }
                if (operator === ' - ') {
                    this.solveA = this.solveA + ' - ';
                }
                this.dotClickedA = false;
            }
            if (cal === 'B') {
                if(this.equalClickedB === true){
                    this.currentB = '';
                    this.solveB = '';
                    this.equalClickedB = false;
                }
                this.currentB = `${this.currentB}${operator}`;
                if (operator === ' + ') {
                    this.solveB = this.solveB + '%2B';
                }
                if (operator === ' X ') {
                    this.solveB = this.solveB + ' * ';
                }
                if (operator === ' ÷ ') {
                    this.solveB = this.solveB + '%2F';
                }
                if (operator === ' - ') {
                    this.solveB = this.solveB + ' - ';
                }
                this.dotClickedB = false;
            }
        },
        dot(cal) {
            if (cal === 'A') {
                if (!this.dotClickedA) {
                    this.append('A', '.');
                    this.dotClickedA = true;
                }
            }
            if (cal === 'B') {
                if (!this.dotClickedB) {
                    this.append('B', '.');
                    this.dotClickedB = true;
                }
            }
        },
        divide(cal) {
            if (cal === 'A') {
                if (!this.operatorClickedA) {
                    this.operatorClickedA = true;
                    this.operate('A', ' ÷ ')
                }
                if (this.operatorClickedA) {
                    this.currentA = this.currentA.slice(0, -3);
                    this.solveA = this.solveA.slice(0, -3);
                    this.operate('A', ' ÷ ')
                }
            }
            if (cal === 'B') {
                if (!this.operatorClickedB) {
                    this.operatorClickedB = true;
                    this.operate('B', ' ÷ ')
                }
                if (this.operatorClickedB) {
                    this.currentB = this.currentB.slice(0, -3);
                    this.solveB = this.solveB.slice(0, -3);
                    this.operate('B', ' ÷ ')
                }
            }
        },
        times(cal) {
            if (cal === 'A') {
                if (!this.operatorClickedA) {
                    this.operatorClickedA = true;
                    this.operate('A', ' X ')
                }
                if (this.operatorClickedA) {
                    this.currentA = this.currentA.slice(0, -3);
                    this.solveA = this.solveA.slice(0, -3);
                    this.operate('A', ' X ')
                }
            }
            if (cal === 'B') {
                if (!this.operatorClickedB) {
                    this.operatorClickedB = true;
                    this.operate('B', ' X ')
                }
                if (this.operatorClickedB) {
                    this.currentB = this.currentB.slice(0, -3);
                    this.solveB = this.solveB.slice(0, -3);
                    this.operate('B', ' X ')
                }
            }
        },
        minus(cal) {
            if (cal === 'A') {
                if (!this.operatorClickedA) {
                    this.operatorClickedA = true;
                    this.operate('A', ' - ')
                }
                if (this.operatorClickedA) {
                    this.currentA = this.currentA.slice(0, -3);
                    this.solveA = this.solveA.slice(0, -3);
                    this.operate('A', ' - ')
                }
            }
            if (cal === 'B') {
                if (!this.operatorClickedB) {
                    this.operatorClickedB = true;
                    this.operate('B', ' - ')
                }
                if (this.operatorClickedB) {
                    this.currentB = this.currentB.slice(0, -3);
                    this.solveB = this.solveB.slice(0, -3);
                    this.operate('B', ' - ')
                }
            }
        },
        add(cal) {
            if (cal === 'A') {
                if (!this.operatorClickedA) {
                    this.operatorClickedA = true;
                    this.operate('A', ' + ')
                }
                if (this.operatorClickedA) {
                    this.currentA = this.currentA.slice(0, -3);
                    this.solveA = this.solveA.slice(0, -3);
                    this.operate('A', ' + ')
                }
            }
            if (cal === 'B') {
                if (!this.operatorClickedB) {
                    this.operatorClickedB = true;
                    this.operate('B', ' + ')
                }
                if (this.operatorClickedB) {
                    this.currentB = this.currentB.slice(0, -3);
                    this.solveB = this.solveB.slice(0, -3);
                    this.operate('B', ' + ')
                }
            }
        },
        equal(cal) {
            const apiUrl = 'http://api.mathjs.org/v4/?expr=';
            const today = new Date();
            const date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
            const time = today.getHours() + ':' + today.getMinutes() + '.' + today.getSeconds();

            if (cal === 'A') {
                if (this.currentA === '') {

                }else {
                    axios.get(apiUrl + this.solveA)
                    .then(response => {
                        if (response.data.toString().indexOf('.') >= 1){
                            this.resultA = response.data.toFixed(2);
                        }else {
                            this.resultA = response.data;
                        }
                        this.histories.push(
                            {
                                Calculator : 'A',
                                result: this.resultA,
                                solve: this.currentA,
                                dateTime: date + ' - ' + time,
                            }
                        )
                        localStorage.setItem('historyList', JSON.stringify(this.histories));
                    })
                    .catch(err => {
                    console.error(err)
                    alert(err)
                    })
                    this.equalClickedA = true;
                }
            }
            if (cal === 'B') {
                if (this.currentB === '') {

                }else {
                    axios.get(apiUrl + this.solveB)
                    .then(response => {
                        if (response.data.toString().indexOf('.') >= 1){
                            this.resultB = response.data.toFixed(2);
                        }else {
                            this.resultB = response.data;
                        }
                        this.histories.push(
                            {
                                Calculator: 'B',
                                result: this.resultB,
                                solve: this.currentB,
                                dateTime: date + ' - ' + time,
                            }
                        )
                        localStorage.setItem('historyList', JSON.stringify(this.histories));
                    })
                    .catch(err => {
                    console.error(err)
                    alert(err)
                    })
                    this.equalClickedB = true;
                }
            }
        },
    }

}
</script>

<style scoped>
    @media screen and (max-width: 730px) {
        .calcard {
            flex-wrap: wrap;
        }
    }
    @media screen and (max-width: 1250px) {
        .board {
            flex-wrap: wrap;
        }
    }
    .nav {
        box-shadow: 0 2px 10px -1px #dddddd;
        padding: 0.5rem 2.5rem;
        font-size: 2rem;
        background-color: #ffffff;
        color: #707070;
    }
    .page {
        font-family: Kanit;
        font-weight: normal;
    }
    .board {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .calculator {
        border-radius: 25px;
        padding: 20px 20px;
        border: 1px solid #dddddd;
        box-shadow: 0 2px 10px -1px #dddddd;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .element {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;

    }
    .result {
        grid-column: 1 / 5;
        font-size: 2.5rem;
        text-align: start;
        border-bottom: 1px solid #333;
        color: #707070;
        word-wrap: break-word;
    }
    .solve {
        grid-column: 1 / 5;
        font-size: 1.5rem;
        text-align: start;
        color: #707070;
        word-wrap: break-word;
    }
    .title{
        margin: 5rem 0 1rem 0;
        font-size: 2rem;
        color: #707070;
        display: flex;
        flex-direction: row;
        gap : 10px;
    }
    .zero {
        grid-column: 1 / 3;
    }
    .equal {
        grid-area: 6 / 4 / 8 / 5;
    }
    .plus {
        grid-area: 4 / 4 / 6 / 5;
    }
    .btn {
        background-color: #a7d4fa;
        border-radius: 10px;
        padding: 15px 25px;
        font-size: 1.5rem;
        color: #707070;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .history {
        margin-bottom: 10px;
    }
    .display {
        display: flex;
        flex-direction: column;
        overflow: auto;
        max-width: 700px;
    }
    ::-webkit-scrollbar {
    display: none;
    }
    .date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #707070;
        font-size: 1.5rem;
        font-weight: 100;
    }
    .date label {
        color: #adcde8;
        padding-right: 10px;
    }
    .cls {
        background: #ff6666;
        color: white;
        padding: 5px 25px;
        border-radius: 10px;
        box-shadow: 0 2px 10px -1px #555454;
        cursor: pointer;
    }
    .title input, select {
        font-family: Kanit;
        border-radius: 8px;
        border: none;
        box-shadow: 0 2px 10px -1px #dddddd;
        color: #707070;
        padding: 5px 10px;
    }
    .title select {
        cursor: pointer;
    }
    .calcard {
        display: flex;
        flex-direction: row;
        width: 65%;
        justify-content: space-around;
        gap: 10px;
    }
    .calcard .calculator {
        width: 300px;
    }
    .card .calculator {
        max-width: 500px;
    }

</style>